In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Country.csv')

In [3]:
df

,country_code,population,life_expectancy,hospital_beds_per_thousand,handwashing_facilities,male_smokers,female_smokers,diabetes_prevalence,cardiovasc_death_rate,extreme_poverty,gdp_per_capita,aged_70_older,aged_65_older,median_age,population_density,stringency_index
0,ABW,106459.0,76.29,NaN,NaN,NaN,NaN,11.62,NaN,NaN,35973.781,7.452,13.085,41.2,584.800,88.89
1,AFG,41128772.0,64.83,0.50,37.746,NaN,NaN,9.59,597.029,NaN,1803.987,1.337,2.581,18.6,54.422,84.26
2,AGO,35588996.0,61.15,NaN,26.664,NaN,NaN,3.94,276.045,NaN,5819.495,1.362,2.405,16.8,23.890,90.74
3,AIA,15877.0,81.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALB,2842318.0,78.57,2.89,NaN,51.2,7.1,10.08,304.195,1.1,11803.431,8.643,13.188,38.0,104.871,89.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,WSM,222390.0,73.32,NaN,NaN,38.1,16.7,9.21,348.977,NaN,6021.557,3.564,5.606,22.0,69.413,NaN
233,YEM,33696612.0,66.12,0.70,49.542,29.2,7.6,5.35,495.003,18.8,1479.147,1.583,2.922,20.3,53.508,66.67
234,ZAF,59893884.0,64.13,2.32,43.993,33.2,8.1,5.52,200.380,18.9,12294.876,3.053,5.344,27.3,46.754,87.96
235,ZMB,20017670.0,63.89,2.00,13.938,24.7,3.1,3.94,234.499,57.5,3689.251,1.542,2.480,17.7,22.995,70.83
236,ZWE,16320539.0,61.49,1.70,36.791,30.7,1.6,1.82,307.846,21.4,1899.775,1.882,2.822,19.6,42.729,87.96

In [9]:
df = df.fillna(0)

In [6]:
df.max(axis = 0)

country_code                           ZWE
population                    1425887360.0
life_expectancy                      86.75
hospital_beds_per_thousand            13.8
handwashing_facilities               100.0
male_smokers                          78.1
female_smokers                        44.0
diabetes_prevalence                  30.53
cardiovasc_death_rate              724.417
extreme_poverty                       77.6
gdp_per_capita                    116935.6
aged_70_older                       18.493
aged_65_older                       27.049
median_age                            48.2
population_density               20546.766
stringency_index                     100.0
dtype: object

In [10]:
df.to_csv("Country.csv")

In [7]:
df

,country_code,population,life_expectancy,hospital_beds_per_thousand,handwashing_facilities,male_smokers,female_smokers,diabetes_prevalence,cardiovasc_death_rate,extreme_poverty,gdp_per_capita,aged_70_older,aged_65_older,median_age,population_density,stringency_index
0,ABW,106459.0,76.29,NaN,NaN,NaN,NaN,11.62,NaN,NaN,35973.781,7.452,13.085,41.2,584.800,88.89
1,AFG,41128772.0,64.83,0.50,37.746,NaN,NaN,9.59,597.029,NaN,1803.987,1.337,2.581,18.6,54.422,84.26
2,AGO,35588996.0,61.15,NaN,26.664,NaN,NaN,3.94,276.045,NaN,5819.495,1.362,2.405,16.8,23.890,90.74
3,AIA,15877.0,81.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ALB,2842318.0,78.57,2.89,NaN,51.2,7.1,10.08,304.195,1.1,11803.431,8.643,13.188,38.0,104.871,89.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
232,WSM,222390.0,73.32,NaN,NaN,38.1,16.7,9.21,348.977,NaN,6021.557,3.564,5.606,22.0,69.413,NaN
233,YEM,33696612.0,66.12,0.70,49.542,29.2,7.6,5.35,495.003,18.8,1479.147,1.583,2.922,20.3,53.508,66.67
234,ZAF,59893884.0,64.13,2.32,43.993,33.2,8.1,5.52,200.380,18.9,12294.876,3.053,5.344,27.3,46.754,87.96
235,ZMB,20017670.0,63.89,2.00,13.938,24.7,3.1,3.94,234.499,57.5,3689.251,1.542,2.480,17.7,22.995,70.83
236,ZWE,16320539.0,61.49,1.70,36.791,30.7,1.6,1.82,307.846,21.4,1899.775,1.882,2.822,19.6,42.729,87.96